- {'error' => 'error', 'warning' => 'warning',
   'notice' => 'success', 'message' => 'info'}.each do |header, classname|
  / Styling inline is bad but I dont want to addan step in the installation
  / process to add some flajax styles just to hide an element.
  %p{ class: "alert alert-#{classname} x-flash-#{header}"  }
    %span.text
    %a.close( data-dismiss="alert" ) ×
     

- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}"
